.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-block: 2rem;
  transition: background-color 0.1s ease-in-out;
  z-index: 100;

  $default-green: #12662e;

  &[class*="dark"] {
    --green: #30ca70;
  }

  &.light {
    &.scrolled {
      background-color: #bababa;
    }
  }

  &.dark {
    background-color: #242323;

    &.scrolled {
      background-color: #333333;
    }
  }

  .custom-nav-style {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left-side {
    display: flex;
    align-items: center;
    gap: 3rem;

    .my-name {
      font-weight: bold;
      font-size: 2.4rem;
      color: var(--green, $default-green);

      &:hover {
        cursor: pointer;
      }
    }
  }

  .items {
    display: flex;
    gap: 1.5rem;

    li {
      display: flex;
      align-items: center;
      padding: 1rem;
      list-style-type: none;

      &:hover {
        cursor: pointer;

        p {
          text-decoration: underline;
        }
      }

      svg {
        display: block;
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }
}
@media (max-width: 1199px){
  .navbar{
    display: none;
  }
}
